<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>.null</key>
		<string>_null.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>AEacute</key>
		<string>A_E_acute.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cacute</key>
		<string>C_acute.glif</string>
		<key>Ccaron</key>
		<string>C_caron.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Ccircumflex</key>
		<string>C_circumflex.glif</string>
		<key>Cdotaccent</key>
		<string>C_dotaccent.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Dcaron</key>
		<string>D_caron.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ecaron</key>
		<string>E_caron.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Edotaccent</key>
		<string>E_dotaccent.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gcircumflex</key>
		<string>G_circumflex.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hcircumflex</key>
		<string>H_circumflex.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>Itilde</key>
		<string>I_tilde.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Nacute</key>
		<string>N_acute.glif</string>
		<key>Ncaron</key>
		<string>N_caron.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Racute</key>
		<string>R_acute.glif</string>
		<key>Rcaron</key>
		<string>R_caron.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Scedilla</key>
		<string>S_cedilla.glif</string>
		<key>Scircumflex</key>
		<string>S_circumflex.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ucaron</key>
		<string>U_caron.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>Uring</key>
		<string>U_ring.glif</string>
		<key>Utilde</key>
		<string>U_tilde.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>Wcircumflex</key>
		<string>W_circumflex.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ycircumflex</key>
		<string>Y_circumflex.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>Zacute</key>
		<string>Z_acute.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotaccent</key>
		<string>Z_dotaccent.glif</string>
		<key>_k1</key>
		<string>_k1.glif</string>
		<key>_m1</key>
		<string>_m1.glif</string>
		<key>_n1</key>
		<string>_n1.glif</string>
		<key>_nh</key>
		<string>_nh.glif</string>
		<key>_nhu1</key>
		<string>_nhu1.glif</string>
		<key>_nhu2</key>
		<string>_nhu2.glif</string>
		<key>_rh</key>
		<string>_rh.glif</string>
		<key>_s1</key>
		<string>_s1.glif</string>
		<key>_t1</key>
		<string>_t1.glif</string>
		<key>_th1</key>
		<string>_th1.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a2</key>
		<string>a2.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aeacute</key>
		<string>aeacute.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>ai1</key>
		<string>ai1.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>anuswara</key>
		<string>anuswara.glif</string>
		<key>anuswaraabove</key>
		<string>anuswaraabove.glif</string>
		<key>arakani</key>
		<string>arakani.glif</string>
		<key>arakkaal</key>
		<string>arakkaal.glif</string>
		<key>aramaa</key>
		<string>aramaa.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>au2</key>
		<string>au2.glif</string>
		<key>avagraha</key>
		<string>avagraha.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cacute</key>
		<string>cacute.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>ccircumflex</key>
		<string>ccircumflex.glif</string>
		<key>cdotaccent</key>
		<string>cdotaccent.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>ch1</key>
		<string>ch1.glif</string>
		<key>ch1ch1</key>
		<string>ch1ch1.glif</string>
		<key>ch1ch1.alt1</key>
		<string>ch1ch1.alt1.glif</string>
		<key>ch1ch1u1</key>
		<string>ch1ch1u1.glif</string>
		<key>ch1ch1u1.alt1</key>
		<string>ch1ch1u1.alt1.glif</string>
		<key>ch1ch1u2</key>
		<string>ch1ch1u2.glif</string>
		<key>ch1ch1u2.alt1</key>
		<string>ch1ch1u2.alt1.glif</string>
		<key>ch1ch2</key>
		<string>ch1ch2.glif</string>
		<key>ch1u1</key>
		<string>ch1u1.glif</string>
		<key>ch1u2</key>
		<string>ch1u2.glif</string>
		<key>ch1xx</key>
		<string>ch1xx.glif</string>
		<key>ch2</key>
		<string>ch2.glif</string>
		<key>ch2r1</key>
		<string>ch2r1.glif</string>
		<key>ch2u1</key>
		<string>ch2u1.glif</string>
		<key>ch2u2</key>
		<string>ch2u2.glif</string>
		<key>ch2xx</key>
		<string>ch2xx.glif</string>
		<key>ch3</key>
		<string>ch3.glif</string>
		<key>ch3ch3</key>
		<string>ch3ch3.glif</string>
		<key>ch3ch3r1</key>
		<string>ch3ch3r1.glif</string>
		<key>ch3ch3u1</key>
		<string>ch3ch3u1.glif</string>
		<key>ch3ch3u2</key>
		<string>ch3ch3u2.glif</string>
		<key>ch3nj</key>
		<string>ch3nj.glif</string>
		<key>ch3r1</key>
		<string>ch3r1.glif</string>
		<key>ch3r3</key>
		<string>ch3r3.glif</string>
		<key>ch3r3u1</key>
		<string>ch3r3u1.glif</string>
		<key>ch3r3u2</key>
		<string>ch3r3u2.glif</string>
		<key>ch3u1</key>
		<string>ch3u1.glif</string>
		<key>ch3u2</key>
		<string>ch3u2.glif</string>
		<key>ch3xx</key>
		<string>ch3xx.glif</string>
		<key>ch4</key>
		<string>ch4.glif</string>
		<key>ch4u1</key>
		<string>ch4u1.glif</string>
		<key>ch4u2</key>
		<string>ch4u2.glif</string>
		<key>ch4xx</key>
		<string>ch4xx.glif</string>
		<key>circularvirama</key>
		<string>circularvirama.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>datemark</key>
		<string>datemark.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dotreph</key>
		<string>dotreph.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e1</key>
		<string>e1.glif</string>
		<key>e2</key>
		<string>e2.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>ecaron</key>
		<string>ecaron.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>edotaccent</key>
		<string>edotaccent.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>euro</key>
		<string>euro.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gcircumflex</key>
		<string>gcircumflex.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guillemotright</key>
		<string>guillemotright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h1</key>
		<string>h1.glif</string>
		<key>h1l3</key>
		<string>h1l3.glif</string>
		<key>h1m1</key>
		<string>h1m1.glif</string>
		<key>h1m1r1</key>
		<string>h1m1r1.glif</string>
		<key>h1m1u1</key>
		<string>h1m1u1.glif</string>
		<key>h1m1u2</key>
		<string>h1m1u2.glif</string>
		<key>h1n1</key>
		<string>h1n1.glif</string>
		<key>h1n1u1</key>
		<string>h1n1u1.glif</string>
		<key>h1n1u2</key>
		<string>h1n1u2.glif</string>
		<key>h1r1</key>
		<string>h1r1.glif</string>
		<key>h1r3</key>
		<string>h1r3.glif</string>
		<key>h1r3u1</key>
		<string>h1r3u1.glif</string>
		<key>h1r3u2</key>
		<string>h1r3u2.glif</string>
		<key>h1u1</key>
		<string>h1u1.glif</string>
		<key>h1u2</key>
		<string>h1u2.glif</string>
		<key>h1xx</key>
		<string>h1xx.glif</string>
		<key>hcircumflex</key>
		<string>hcircumflex.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i1</key>
		<string>i1.glif</string>
		<key>i2</key>
		<string>i2.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>itilde</key>
		<string>itilde.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k1</key>
		<string>k1.glif</string>
		<key>k1cil</key>
		<string>k1cil.glif</string>
		<key>k1k1</key>
		<string>k1k1.glif</string>
		<key>k1k1r1</key>
		<string>k1k1r1.glif</string>
		<key>k1k1r3</key>
		<string>k1k1r3.glif</string>
		<key>k1k1r3u1</key>
		<string>k1k1r3u1.glif</string>
		<key>k1k1r3u2</key>
		<string>k1k1r3u2.glif</string>
		<key>k1k1u1</key>
		<string>k1k1u1.glif</string>
		<key>k1k1u2</key>
		<string>k1k1u2.glif</string>
		<key>k1l1</key>
		<string>k1l1.glif</string>
		<key>k1l3</key>
		<string>k1l3.glif</string>
		<key>k1l3u1</key>
		<string>k1l3u1.glif</string>
		<key>k1l3u2</key>
		<string>k1l3u2.glif</string>
		<key>k1nh</key>
		<string>k1nh.glif</string>
		<key>k1nhu1</key>
		<string>k1nhu1.glif</string>
		<key>k1nhu2</key>
		<string>k1nhu2.glif</string>
		<key>k1r1</key>
		<string>k1r1.glif</string>
		<key>k1r3</key>
		<string>k1r3.glif</string>
		<key>k1r3u1</key>
		<string>k1r3u1.glif</string>
		<key>k1r3u2</key>
		<string>k1r3u2.glif</string>
		<key>k1s1</key>
		<string>k1s1.glif</string>
		<key>k1sh</key>
		<string>k1sh.glif</string>
		<key>k1shu1</key>
		<string>k1shu1.glif</string>
		<key>k1shu2</key>
		<string>k1shu2.glif</string>
		<key>k1t1</key>
		<string>k1t1.glif</string>
		<key>k1th1</key>
		<string>k1th1.glif</string>
		<key>k1th1r1</key>
		<string>k1th1r1.glif</string>
		<key>k1th1r3</key>
		<string>k1th1r3.glif</string>
		<key>k1th1u1</key>
		<string>k1th1u1.glif</string>
		<key>k1th1u2</key>
		<string>k1th1u2.glif</string>
		<key>k1u1</key>
		<string>k1u1.glif</string>
		<key>k1u2</key>
		<string>k1u2.glif</string>
		<key>k1xx</key>
		<string>k1xx.glif</string>
		<key>k2</key>
		<string>k2.glif</string>
		<key>k2r1</key>
		<string>k2r1.glif</string>
		<key>k2u1</key>
		<string>k2u1.glif</string>
		<key>k2u2</key>
		<string>k2u2.glif</string>
		<key>k2xx</key>
		<string>k2xx.glif</string>
		<key>k3</key>
		<string>k3.glif</string>
		<key>k3k3</key>
		<string>k3k3.glif</string>
		<key>k3k3r1</key>
		<string>k3k3r1.glif</string>
		<key>k3k3u1</key>
		<string>k3k3u1.glif</string>
		<key>k3k3u2</key>
		<string>k3k3u2.glif</string>
		<key>k3l3</key>
		<string>k3l3.glif</string>
		<key>k3l3u1</key>
		<string>k3l3u1.glif</string>
		<key>k3l3u2</key>
		<string>k3l3u2.glif</string>
		<key>k3m1</key>
		<string>k3m1.glif</string>
		<key>k3m1u1</key>
		<string>k3m1u1.glif</string>
		<key>k3m1u2</key>
		<string>k3m1u2.glif</string>
		<key>k3n1</key>
		<string>k3n1.glif</string>
		<key>k3n1u1</key>
		<string>k3n1u1.glif</string>
		<key>k3n1u2</key>
		<string>k3n1u2.glif</string>
		<key>k3r1</key>
		<string>k3r1.glif</string>
		<key>k3r3</key>
		<string>k3r3.glif</string>
		<key>k3r3u1</key>
		<string>k3r3u1.glif</string>
		<key>k3r3u2</key>
		<string>k3r3u2.glif</string>
		<key>k3th3</key>
		<string>k3th3.glif</string>
		<key>k3th3r1</key>
		<string>k3th3r1.glif</string>
		<key>k3th3th4</key>
		<string>k3th3th4.glif</string>
		<key>k3th3th4u1</key>
		<string>k3th3th4u1.glif</string>
		<key>k3th3th4u2</key>
		<string>k3th3th4u2.glif</string>
		<key>k3th3u1</key>
		<string>k3th3u1.glif</string>
		<key>k3th3u2</key>
		<string>k3th3u2.glif</string>
		<key>k3u1</key>
		<string>k3u1.glif</string>
		<key>k3u2</key>
		<string>k3u2.glif</string>
		<key>k3xx</key>
		<string>k3xx.glif</string>
		<key>k4</key>
		<string>k4.glif</string>
		<key>k4r1</key>
		<string>k4r1.glif</string>
		<key>k4r3</key>
		<string>k4r3.glif</string>
		<key>k4r3u1</key>
		<string>k4r3u1.glif</string>
		<key>k4r3u2</key>
		<string>k4r3u2.glif</string>
		<key>k4u1</key>
		<string>k4u1.glif</string>
		<key>k4u2</key>
		<string>k4u2.glif</string>
		<key>k4xx</key>
		<string>k4xx.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l1</key>
		<string>l1.glif</string>
		<key>l2</key>
		<string>l2.glif</string>
		<key>l3</key>
		<string>l3.glif</string>
		<key>l3cil</key>
		<string>l3cil.glif</string>
		<key>l3l3</key>
		<string>l3l3.glif</string>
		<key>l3l3u1</key>
		<string>l3l3u1.glif</string>
		<key>l3l3u2</key>
		<string>l3l3u2.glif</string>
		<key>l3p1</key>
		<string>l3p1.glif</string>
		<key>l3p1u1</key>
		<string>l3p1u1.glif</string>
		<key>l3p1u2</key>
		<string>l3p1u2.glif</string>
		<key>l3u1</key>
		<string>l3u1.glif</string>
		<key>l3u2</key>
		<string>l3u2.glif</string>
		<key>l3xx</key>
		<string>l3xx.glif</string>
		<key>l4</key>
		<string>l4.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lh</key>
		<string>lh.glif</string>
		<key>lhcil</key>
		<string>lhcil.glif</string>
		<key>lhlh</key>
		<string>lhlh.glif</string>
		<key>lhlh.alt1</key>
		<string>lhlh.alt1.glif</string>
		<key>lhlhu1</key>
		<string>lhlhu1.glif</string>
		<key>lhlhu1.alt1</key>
		<string>lhlhu1.alt1.glif</string>
		<key>lhlhu2</key>
		<string>lhlhu2.glif</string>
		<key>lhlhu2.alt1</key>
		<string>lhlhu2.alt1.glif</string>
		<key>lhu1</key>
		<string>lhu1.glif</string>
		<key>lhu2</key>
		<string>lhu2.glif</string>
		<key>lhxx</key>
		<string>lhxx.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m1</key>
		<string>m1.glif</string>
		<key>m1cil</key>
		<string>m1cil.glif</string>
		<key>m1l3</key>
		<string>m1l3.glif</string>
		<key>m1m1</key>
		<string>m1m1.glif</string>
		<key>m1m1u1</key>
		<string>m1m1u1.glif</string>
		<key>m1m1u2</key>
		<string>m1m1u2.glif</string>
		<key>m1p1</key>
		<string>m1p1.glif</string>
		<key>m1p1r1</key>
		<string>m1p1r1.glif</string>
		<key>m1p1r3</key>
		<string>m1p1r3.glif</string>
		<key>m1p1r3u1</key>
		<string>m1p1r3u1.glif</string>
		<key>m1p1r3u2</key>
		<string>m1p1r3u2.glif</string>
		<key>m1p1u1</key>
		<string>m1p1u1.glif</string>
		<key>m1p1u2</key>
		<string>m1p1u2.glif</string>
		<key>m1r1</key>
		<string>m1r1.glif</string>
		<key>m1r3</key>
		<string>m1r3.glif</string>
		<key>m1r3u1</key>
		<string>m1r3u1.glif</string>
		<key>m1r3u2</key>
		<string>m1r3u2.glif</string>
		<key>m1u1</key>
		<string>m1u1.glif</string>
		<key>m1u2</key>
		<string>m1u2.glif</string>
		<key>m1xx</key>
		<string>m1xx.glif</string>
		<key>maakaani</key>
		<string>maakaani.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>ml_a</key>
		<string>ml_a.glif</string>
		<key>ml_aa</key>
		<string>ml_aa.glif</string>
		<key>ml_ai</key>
		<string>ml_ai.glif</string>
		<key>ml_au</key>
		<string>ml_au.glif</string>
		<key>ml_e</key>
		<string>ml_e.glif</string>
		<key>ml_ee</key>
		<string>ml_ee.glif</string>
		<key>ml_i</key>
		<string>ml_i.glif</string>
		<key>ml_ii</key>
		<string>ml_ii.glif</string>
		<key>ml_ii_archaic</key>
		<string>ml_ii_archaic.glif</string>
		<key>ml_l</key>
		<string>ml_l.glif</string>
		<key>ml_ll</key>
		<string>ml_ll.glif</string>
		<key>ml_o</key>
		<string>ml_o.glif</string>
		<key>ml_oo</key>
		<string>ml_oo.glif</string>
		<key>ml_r</key>
		<string>ml_r.glif</string>
		<key>ml_rr</key>
		<string>ml_rr.glif</string>
		<key>ml_u</key>
		<string>ml_u.glif</string>
		<key>ml_uu</key>
		<string>ml_uu.glif</string>
		<key>mlchandrabindu</key>
		<string>mlchandrabindu.glif</string>
		<key>mlpara</key>
		<string>mlpara.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>munnumaa</key>
		<string>munnumaa.glif</string>
		<key>muntaani</key>
		<string>muntaani.glif</string>
		<key>muunnukaani</key>
		<string>muunnukaani.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n1</key>
		<string>n1.glif</string>
		<key>n1cil</key>
		<string>n1cil.glif</string>
		<key>n1m1</key>
		<string>n1m1.glif</string>
		<key>n1m1r1</key>
		<string>n1m1r1.glif</string>
		<key>n1m1u1</key>
		<string>n1m1u1.glif</string>
		<key>n1m1u2</key>
		<string>n1m1u2.glif</string>
		<key>n1n1</key>
		<string>n1n1.glif</string>
		<key>n1n1r1</key>
		<string>n1n1r1.glif</string>
		<key>n1n1r3</key>
		<string>n1n1r3.glif</string>
		<key>n1n1r3u1</key>
		<string>n1n1r3u1.glif</string>
		<key>n1n1r3u2</key>
		<string>n1n1r3u2.glif</string>
		<key>n1n1u1</key>
		<string>n1n1u1.glif</string>
		<key>n1n1u2</key>
		<string>n1n1u2.glif</string>
		<key>n1r1</key>
		<string>n1r1.glif</string>
		<key>n1rh</key>
		<string>n1rh.glif</string>
		<key>n1rhu1</key>
		<string>n1rhu1.glif</string>
		<key>n1rhu2</key>
		<string>n1rhu2.glif</string>
		<key>n1th1</key>
		<string>n1th1.glif</string>
		<key>n1th1r1</key>
		<string>n1th1r1.glif</string>
		<key>n1th1r3</key>
		<string>n1th1r3.glif</string>
		<key>n1th1r3u1</key>
		<string>n1th1r3u1.glif</string>
		<key>n1th1r3u2</key>
		<string>n1th1r3u2.glif</string>
		<key>n1th1u1</key>
		<string>n1th1u1.glif</string>
		<key>n1th1u2</key>
		<string>n1th1u2.glif</string>
		<key>n1th2</key>
		<string>n1th2.glif</string>
		<key>n1th2r1</key>
		<string>n1th2r1.glif</string>
		<key>n1th2u1</key>
		<string>n1th2u1.glif</string>
		<key>n1th2u2</key>
		<string>n1th2u2.glif</string>
		<key>n1th3</key>
		<string>n1th3.glif</string>
		<key>n1th3r1</key>
		<string>n1th3r1.glif</string>
		<key>n1th3r3</key>
		<string>n1th3r3.glif</string>
		<key>n1th3r3u1</key>
		<string>n1th3r3u1.glif</string>
		<key>n1th3r3u2</key>
		<string>n1th3r3u2.glif</string>
		<key>n1th3u1</key>
		<string>n1th3u1.glif</string>
		<key>n1th3u2</key>
		<string>n1th3u2.glif</string>
		<key>n1th4</key>
		<string>n1th4.glif</string>
		<key>n1th4r3</key>
		<string>n1th4r3.glif</string>
		<key>n1th4r3u1</key>
		<string>n1th4r3u1.glif</string>
		<key>n1th4r3u2</key>
		<string>n1th4r3u2.glif</string>
		<key>n1th4u1</key>
		<string>n1th4u1.glif</string>
		<key>n1th4u2</key>
		<string>n1th4u2.glif</string>
		<key>n1u1</key>
		<string>n1u1.glif</string>
		<key>n1u2</key>
		<string>n1u2.glif</string>
		<key>n1xx</key>
		<string>n1xx.glif</string>
		<key>n2</key>
		<string>n2.glif</string>
		<key>naalumaa</key>
		<string>naalumaa.glif</string>
		<key>nacute</key>
		<string>nacute.glif</string>
		<key>ncaron</key>
		<string>ncaron.glif</string>
		<key>ng</key>
		<string>ng.glif</string>
		<key>ngk1</key>
		<string>ngk1.glif</string>
		<key>ngk1r1</key>
		<string>ngk1r1.glif</string>
		<key>ngk1u1</key>
		<string>ngk1u1.glif</string>
		<key>ngk1u2</key>
		<string>ngk1u2.glif</string>
		<key>ngng</key>
		<string>ngng.glif</string>
		<key>ngngu1</key>
		<string>ngngu1.glif</string>
		<key>ngngu2</key>
		<string>ngngu2.glif</string>
		<key>ngu1</key>
		<string>ngu1.glif</string>
		<key>ngu2</key>
		<string>ngu2.glif</string>
		<key>ngxx</key>
		<string>ngxx.glif</string>
		<key>nh</key>
		<string>nh.glif</string>
		<key>nhcil</key>
		<string>nhcil.glif</string>
		<key>nhm1</key>
		<string>nhm1.glif</string>
		<key>nhm1u1</key>
		<string>nhm1u1.glif</string>
		<key>nhm1u2</key>
		<string>nhm1u2.glif</string>
		<key>nhnh</key>
		<string>nhnh.glif</string>
		<key>nhnhu1</key>
		<string>nhnhu1.glif</string>
		<key>nhnhu2</key>
		<string>nhnhu2.glif</string>
		<key>nht1</key>
		<string>nht1.glif</string>
		<key>nht1r3</key>
		<string>nht1r3.glif</string>
		<key>nht1r3u1</key>
		<string>nht1r3u1.glif</string>
		<key>nht1r3u2</key>
		<string>nht1r3u2.glif</string>
		<key>nht1u1</key>
		<string>nht1u1.glif</string>
		<key>nht1u2</key>
		<string>nht1u2.glif</string>
		<key>nht2</key>
		<string>nht2.glif</string>
		<key>nht3</key>
		<string>nht3.glif</string>
		<key>nht3u1</key>
		<string>nht3u1.glif</string>
		<key>nht3u2</key>
		<string>nht3u2.glif</string>
		<key>nhu1</key>
		<string>nhu1.glif</string>
		<key>nhu2</key>
		<string>nhu2.glif</string>
		<key>nhxx</key>
		<string>nhxx.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nj</key>
		<string>nj.glif</string>
		<key>njch1</key>
		<string>njch1.glif</string>
		<key>njch1r1</key>
		<string>njch1r1.glif</string>
		<key>njch1u1</key>
		<string>njch1u1.glif</string>
		<key>njch1u2</key>
		<string>njch1u2.glif</string>
		<key>njch3</key>
		<string>njch3.glif</string>
		<key>njch3u1</key>
		<string>njch3u1.glif</string>
		<key>njch3u2</key>
		<string>njch3u2.glif</string>
		<key>njnj</key>
		<string>njnj.glif</string>
		<key>njnju1</key>
		<string>njnju1.glif</string>
		<key>njnju2</key>
		<string>njnju2.glif</string>
		<key>nju1</key>
		<string>nju1.glif</string>
		<key>nju2</key>
		<string>nju2.glif</string>
		<key>njxx</key>
		<string>njxx.glif</string>
		<key>nonmarkingreturn</key>
		<string>nonmarkingreturn.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o1</key>
		<string>o1.glif</string>
		<key>o2</key>
		<string>o2.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>ocaron</key>
		<string>ocaron.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>orumaa</key>
		<string>orumaa.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>p1</key>
		<string>p1.glif</string>
		<key>p1l3</key>
		<string>p1l3.glif</string>
		<key>p1l3u1</key>
		<string>p1l3u1.glif</string>
		<key>p1l3u2</key>
		<string>p1l3u2.glif</string>
		<key>p1n1</key>
		<string>p1n1.glif</string>
		<key>p1n1u1</key>
		<string>p1n1u1.glif</string>
		<key>p1n1u2</key>
		<string>p1n1u2.glif</string>
		<key>p1p1</key>
		<string>p1p1.glif</string>
		<key>p1p1r1</key>
		<string>p1p1r1.glif</string>
		<key>p1p1u1</key>
		<string>p1p1u1.glif</string>
		<key>p1p1u2</key>
		<string>p1p1u2.glif</string>
		<key>p1p2</key>
		<string>p1p2.glif</string>
		<key>p1r1</key>
		<string>p1r1.glif</string>
		<key>p1r3</key>
		<string>p1r3.glif</string>
		<key>p1r3u1</key>
		<string>p1r3u1.glif</string>
		<key>p1r3u2</key>
		<string>p1r3u2.glif</string>
		<key>p1s1</key>
		<string>p1s1.glif</string>
		<key>p1t1</key>
		<string>p1t1.glif</string>
		<key>p1th1</key>
		<string>p1th1.glif</string>
		<key>p1u1</key>
		<string>p1u1.glif</string>
		<key>p1u2</key>
		<string>p1u2.glif</string>
		<key>p1xx</key>
		<string>p1xx.glif</string>
		<key>p2</key>
		<string>p2.glif</string>
		<key>p2l3</key>
		<string>p2l3.glif</string>
		<key>p2l3u1</key>
		<string>p2l3u1.glif</string>
		<key>p2l3u2</key>
		<string>p2l3u2.glif</string>
		<key>p2r3</key>
		<string>p2r3.glif</string>
		<key>p2r3u1</key>
		<string>p2r3u1.glif</string>
		<key>p2r3u2</key>
		<string>p2r3u2.glif</string>
		<key>p2u1</key>
		<string>p2u1.glif</string>
		<key>p2u2</key>
		<string>p2u2.glif</string>
		<key>p2xx</key>
		<string>p2xx.glif</string>
		<key>p3</key>
		<string>p3.glif</string>
		<key>p3l3</key>
		<string>p3l3.glif</string>
		<key>p3l3u1</key>
		<string>p3l3u1.glif</string>
		<key>p3l3u2</key>
		<string>p3l3u2.glif</string>
		<key>p3p3</key>
		<string>p3p3.glif</string>
		<key>p3p3u1</key>
		<string>p3p3u1.glif</string>
		<key>p3p3u2</key>
		<string>p3p3u2.glif</string>
		<key>p3r1</key>
		<string>p3r1.glif</string>
		<key>p3r3</key>
		<string>p3r3.glif</string>
		<key>p3r3u1</key>
		<string>p3r3u1.glif</string>
		<key>p3r3u2</key>
		<string>p3r3u2.glif</string>
		<key>p3th3</key>
		<string>p3th3.glif</string>
		<key>p3u1</key>
		<string>p3u1.glif</string>
		<key>p3u2</key>
		<string>p3u2.glif</string>
		<key>p3xx</key>
		<string>p3xx.glif</string>
		<key>p4</key>
		<string>p4.glif</string>
		<key>p4r1</key>
		<string>p4r1.glif</string>
		<key>p4r3</key>
		<string>p4r3.glif</string>
		<key>p4r3u1</key>
		<string>p4r3u1.glif</string>
		<key>p4r3u2</key>
		<string>p4r3u2.glif</string>
		<key>p4u1</key>
		<string>p4u1.glif</string>
		<key>p4u2</key>
		<string>p4u2.glif</string>
		<key>p4xx</key>
		<string>p4xx.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r1</key>
		<string>r1.glif</string>
		<key>r2</key>
		<string>r2.glif</string>
		<key>r3</key>
		<string>r3.glif</string>
		<key>r3cil</key>
		<string>r3cil.glif</string>
		<key>r3u1</key>
		<string>r3u1.glif</string>
		<key>r3u2</key>
		<string>r3u2.glif</string>
		<key>r3xx</key>
		<string>r3xx.glif</string>
		<key>r4</key>
		<string>r4.glif</string>
		<key>racute</key>
		<string>racute.glif</string>
		<key>randumaa</key>
		<string>randumaa.glif</string>
		<key>rcaron</key>
		<string>rcaron.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>rh</key>
		<string>rh.glif</string>
		<key>rh_half</key>
		<string>rh_half.glif</string>
		<key>rhrh</key>
		<string>rhrh.glif</string>
		<key>rhrhr3</key>
		<string>rhrhr3.glif</string>
		<key>rhrhu1</key>
		<string>rhrhu1.glif</string>
		<key>rhrhu2</key>
		<string>rhrhu2.glif</string>
		<key>rhu1</key>
		<string>rhu1.glif</string>
		<key>rhu2</key>
		<string>rhu2.glif</string>
		<key>rhxx</key>
		<string>rhxx.glif</string>
		<key>rupee</key>
		<string>rupee.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s1</key>
		<string>s1.glif</string>
		<key>s1k1</key>
		<string>s1k1.glif</string>
		<key>s1k1k1</key>
		<string>s1k1k1.glif</string>
		<key>s1k1k1u1</key>
		<string>s1k1k1u1.glif</string>
		<key>s1k1u1</key>
		<string>s1k1u1.glif</string>
		<key>s1l3</key>
		<string>s1l3.glif</string>
		<key>s1l3u1</key>
		<string>s1l3u1.glif</string>
		<key>s1l3u2</key>
		<string>s1l3u2.glif</string>
		<key>s1m1</key>
		<string>s1m1.glif</string>
		<key>s1n1</key>
		<string>s1n1.glif</string>
		<key>s1p1</key>
		<string>s1p1.glif</string>
		<key>s1r1</key>
		<string>s1r1.glif</string>
		<key>s1r3</key>
		<string>s1r3.glif</string>
		<key>s1r3u1</key>
		<string>s1r3u1.glif</string>
		<key>s1r3u2</key>
		<string>s1r3u2.glif</string>
		<key>s1rhrh</key>
		<string>s1rhrh.glif</string>
		<key>s1rhrhu1</key>
		<string>s1rhrhu1.glif</string>
		<key>s1rhrhu2</key>
		<string>s1rhrhu2.glif</string>
		<key>s1s1</key>
		<string>s1s1.glif</string>
		<key>s1s1u1</key>
		<string>s1s1u1.glif</string>
		<key>s1s1u2</key>
		<string>s1s1u2.glif</string>
		<key>s1th1</key>
		<string>s1th1.glif</string>
		<key>s1th1r3</key>
		<string>s1th1r3.glif</string>
		<key>s1th2</key>
		<string>s1th2.glif</string>
		<key>s1th2r1</key>
		<string>s1th2r1.glif</string>
		<key>s1th2u1</key>
		<string>s1th2u1.glif</string>
		<key>s1th2u2</key>
		<string>s1th2u2.glif</string>
		<key>s1u1</key>
		<string>s1u1.glif</string>
		<key>s1u2</key>
		<string>s1u2.glif</string>
		<key>s1xx</key>
		<string>s1xx.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>scedilla</key>
		<string>scedilla.glif</string>
		<key>scircumflex</key>
		<string>scircumflex.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>sh</key>
		<string>sh.glif</string>
		<key>sh1p1</key>
		<string>sh1p1.glif</string>
		<key>shm1</key>
		<string>shm1.glif</string>
		<key>shnh</key>
		<string>shnh.glif</string>
		<key>shnhu1</key>
		<string>shnhu1.glif</string>
		<key>shnhu2</key>
		<string>shnhu2.glif</string>
		<key>shr1</key>
		<string>shr1.glif</string>
		<key>sht1</key>
		<string>sht1.glif</string>
		<key>sht1r3</key>
		<string>sht1r3.glif</string>
		<key>sht1u1</key>
		<string>sht1u1.glif</string>
		<key>sht1u2</key>
		<string>sht1u2.glif</string>
		<key>sht2</key>
		<string>sht2.glif</string>
		<key>sht2u1</key>
		<string>sht2u1.glif</string>
		<key>sht2u2</key>
		<string>sht2u2.glif</string>
		<key>shu1</key>
		<string>shu1.glif</string>
		<key>shu2</key>
		<string>shu2.glif</string>
		<key>shxx</key>
		<string>shxx.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>t1</key>
		<string>t1.glif</string>
		<key>t1r1</key>
		<string>t1r1.glif</string>
		<key>t1r3</key>
		<string>t1r3.glif</string>
		<key>t1r3u1</key>
		<string>t1r3u1.glif</string>
		<key>t1r3u2</key>
		<string>t1r3u2.glif</string>
		<key>t1t1</key>
		<string>t1t1.glif</string>
		<key>t1t1u1</key>
		<string>t1t1u1.glif</string>
		<key>t1t1u2</key>
		<string>t1t1u2.glif</string>
		<key>t1u1</key>
		<string>t1u1.glif</string>
		<key>t1u2</key>
		<string>t1u2.glif</string>
		<key>t1xx</key>
		<string>t1xx.glif</string>
		<key>t2</key>
		<string>t2.glif</string>
		<key>t2u1</key>
		<string>t2u1.glif</string>
		<key>t2u2</key>
		<string>t2u2.glif</string>
		<key>t2xx</key>
		<string>t2xx.glif</string>
		<key>t3</key>
		<string>t3.glif</string>
		<key>t3r1</key>
		<string>t3r1.glif</string>
		<key>t3r3</key>
		<string>t3r3.glif</string>
		<key>t3r3u1</key>
		<string>t3r3u1.glif</string>
		<key>t3r3u2</key>
		<string>t3r3u2.glif</string>
		<key>t3t3</key>
		<string>t3t3.glif</string>
		<key>t3t3u1</key>
		<string>t3t3u1.glif</string>
		<key>t3t3u2</key>
		<string>t3t3u2.glif</string>
		<key>t3t4</key>
		<string>t3t4.glif</string>
		<key>t3t4u1</key>
		<string>t3t4u1.glif</string>
		<key>t3t4u2</key>
		<string>t3t4u2.glif</string>
		<key>t3u1</key>
		<string>t3u1.glif</string>
		<key>t3u2</key>
		<string>t3u2.glif</string>
		<key>t3xx</key>
		<string>t3xx.glif</string>
		<key>t4</key>
		<string>t4.glif</string>
		<key>t4r1</key>
		<string>t4r1.glif</string>
		<key>t4u1</key>
		<string>t4u1.glif</string>
		<key>t4u2</key>
		<string>t4u2.glif</string>
		<key>t4xx</key>
		<string>t4xx.glif</string>
		<key>th1</key>
		<string>th1.glif</string>
		<key>th1l3</key>
		<string>th1l3.glif</string>
		<key>th1l3u1</key>
		<string>th1l3u1.glif</string>
		<key>th1l3u2</key>
		<string>th1l3u2.glif</string>
		<key>th1m1</key>
		<string>th1m1.glif</string>
		<key>th1m1r1</key>
		<string>th1m1r1.glif</string>
		<key>th1m1u1</key>
		<string>th1m1u1.glif</string>
		<key>th1m1u2</key>
		<string>th1m1u2.glif</string>
		<key>th1n1</key>
		<string>th1n1.glif</string>
		<key>th1p4</key>
		<string>th1p4.glif</string>
		<key>th1p4u1</key>
		<string>th1p4u1.glif</string>
		<key>th1p4u2</key>
		<string>th1p4u2.glif</string>
		<key>th1r1</key>
		<string>th1r1.glif</string>
		<key>th1r3</key>
		<string>th1r3.glif</string>
		<key>th1r3u1</key>
		<string>th1r3u1.glif</string>
		<key>th1r3u2</key>
		<string>th1r3u2.glif</string>
		<key>th1s1</key>
		<string>th1s1.glif</string>
		<key>th1s1r1</key>
		<string>th1s1r1.glif</string>
		<key>th1s1u1</key>
		<string>th1s1u1.glif</string>
		<key>th1s1u2</key>
		<string>th1s1u2.glif</string>
		<key>th1th1</key>
		<string>th1th1.glif</string>
		<key>th1th1r1</key>
		<string>th1th1r1.glif</string>
		<key>th1th1r3</key>
		<string>th1th1r3.glif</string>
		<key>th1th1r3u1</key>
		<string>th1th1r3u1.glif</string>
		<key>th1th1r3u2</key>
		<string>th1th1r3u2.glif</string>
		<key>th1th1u1</key>
		<string>th1th1u1.glif</string>
		<key>th1th1u2</key>
		<string>th1th1u2.glif</string>
		<key>th1th2</key>
		<string>th1th2.glif</string>
		<key>th1th2r1</key>
		<string>th1th2r1.glif</string>
		<key>th1th2u1</key>
		<string>th1th2u1.glif</string>
		<key>th1th2u2</key>
		<string>th1th2u2.glif</string>
		<key>th1u1</key>
		<string>th1u1.glif</string>
		<key>th1u2</key>
		<string>th1u2.glif</string>
		<key>th1xx</key>
		<string>th1xx.glif</string>
		<key>th2</key>
		<string>th2.glif</string>
		<key>th2_half</key>
		<string>th2_half.glif</string>
		<key>th2r1</key>
		<string>th2r1.glif</string>
		<key>th2u1</key>
		<string>th2u1.glif</string>
		<key>th2u2</key>
		<string>th2u2.glif</string>
		<key>th2xx</key>
		<string>th2xx.glif</string>
		<key>th3</key>
		<string>th3.glif</string>
		<key>th3r1</key>
		<string>th3r1.glif</string>
		<key>th3r3</key>
		<string>th3r3.glif</string>
		<key>th3r3u1</key>
		<string>th3r3u1.glif</string>
		<key>th3r3u2</key>
		<string>th3r3u2.glif</string>
		<key>th3th3</key>
		<string>th3th3.glif</string>
		<key>th3th3u1</key>
		<string>th3th3u1.glif</string>
		<key>th3th3u2</key>
		<string>th3th3u2.glif</string>
		<key>th3th4</key>
		<string>th3th4.glif</string>
		<key>th3th4u1</key>
		<string>th3th4u1.glif</string>
		<key>th3th4u2</key>
		<string>th3th4u2.glif</string>
		<key>th3u1</key>
		<string>th3u1.glif</string>
		<key>th3u2</key>
		<string>th3u2.glif</string>
		<key>th3xx</key>
		<string>th3xx.glif</string>
		<key>th4</key>
		<string>th4.glif</string>
		<key>th4r1</key>
		<string>th4r1.glif</string>
		<key>th4r3</key>
		<string>th4r3.glif</string>
		<key>th4r3u1</key>
		<string>th4r3u1.glif</string>
		<key>th4r3u2</key>
		<string>th4r3u2.glif</string>
		<key>th4u1</key>
		<string>th4u1.glif</string>
		<key>th4u2</key>
		<string>th4u2.glif</string>
		<key>th4xx</key>
		<string>th4xx.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u1</key>
		<string>u1.glif</string>
		<key>u2</key>
		<string>u2.glif</string>
		<key>u_sign_drop</key>
		<string>u_sign_drop.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>ucaron</key>
		<string>ucaron.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>uni00A0</key>
		<string>uni00A_0.glif</string>
		<key>uni00AD</key>
		<string>uni00A_D_.glif</string>
		<key>uni00B2</key>
		<string>uni00B_2.glif</string>
		<key>uni00B3</key>
		<string>uni00B_3.glif</string>
		<key>uni00B9</key>
		<string>uni00B_9.glif</string>
		<key>uni0D4C</key>
		<string>uni0D_4C_.glif</string>
		<key>uni0D66</key>
		<string>uni0D_66.glif</string>
		<key>uni0D67</key>
		<string>uni0D_67.glif</string>
		<key>uni0D68</key>
		<string>uni0D_68.glif</string>
		<key>uni0D69</key>
		<string>uni0D_69.glif</string>
		<key>uni0D6A</key>
		<string>uni0D_6A_.glif</string>
		<key>uni0D6B</key>
		<string>uni0D_6B_.glif</string>
		<key>uni0D6C</key>
		<string>uni0D_6C_.glif</string>
		<key>uni0D6D</key>
		<string>uni0D_6D_.glif</string>
		<key>uni0D6E</key>
		<string>uni0D_6E_.glif</string>
		<key>uni0D6F</key>
		<string>uni0D_6F_.glif</string>
		<key>uni0D70</key>
		<string>uni0D_70.glif</string>
		<key>uni0D71</key>
		<string>uni0D_71.glif</string>
		<key>uni0D72</key>
		<string>uni0D_72.glif</string>
		<key>uni0D73</key>
		<string>uni0D_73.glif</string>
		<key>uni0D74</key>
		<string>uni0D_74.glif</string>
		<key>uni0D75</key>
		<string>uni0D_75.glif</string>
		<key>uni25CC</key>
		<string>uni25C_C_.glif</string>
		<key>uring</key>
		<string>uring.glif</string>
		<key>utilde</key>
		<string>utilde.glif</string>
		<key>uu_sign_drop</key>
		<string>uu_sign_drop.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v1</key>
		<string>v1.glif</string>
		<key>v1l3</key>
		<string>v1l3.glif</string>
		<key>v1l3u1</key>
		<string>v1l3u1.glif</string>
		<key>v1l3u2</key>
		<string>v1l3u2.glif</string>
		<key>v1r1</key>
		<string>v1r1.glif</string>
		<key>v1r3</key>
		<string>v1r3.glif</string>
		<key>v1r3u1</key>
		<string>v1r3u1.glif</string>
		<key>v1r3u2</key>
		<string>v1r3u2.glif</string>
		<key>v1u1</key>
		<string>v1u1.glif</string>
		<key>v1u2</key>
		<string>v1u2.glif</string>
		<key>v1v1</key>
		<string>v1v1.glif</string>
		<key>v1v1u1</key>
		<string>v1v1u1.glif</string>
		<key>v1v1u2</key>
		<string>v1v1u2.glif</string>
		<key>v1xx</key>
		<string>v1xx.glif</string>
		<key>v2</key>
		<string>v2.glif</string>
		<key>va_sign</key>
		<string>va_sign.glif</string>
		<key>verticalbarvirama</key>
		<string>verticalbarvirama.glif</string>
		<key>visarga</key>
		<string>visarga.glif</string>
		<key>vocalic_r_sign_drop</key>
		<string>vocalic_r_sign_drop.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>wcircumflex</key>
		<string>wcircumflex.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>xx</key>
		<string>xx.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y1</key>
		<string>y1.glif</string>
		<key>y1cil</key>
		<string>y1cil.glif</string>
		<key>y1k1</key>
		<string>y1k1.glif</string>
		<key>y1k1k1</key>
		<string>y1k1k1.glif</string>
		<key>y1k1k1u1</key>
		<string>y1k1k1u1.glif</string>
		<key>y1th1</key>
		<string>y1th1.glif</string>
		<key>y1u1</key>
		<string>y1u1.glif</string>
		<key>y1u2</key>
		<string>y1u2.glif</string>
		<key>y1xx</key>
		<string>y1xx.glif</string>
		<key>y1y1</key>
		<string>y1y1.glif</string>
		<key>y1y1u1</key>
		<string>y1y1u1.glif</string>
		<key>y1y1u2</key>
		<string>y1y1u2.glif</string>
		<key>y2</key>
		<string>y2.glif</string>
		<key>y2u1</key>
		<string>y2u1.glif</string>
		<key>y2u2</key>
		<string>y2u2.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ycircumflex</key>
		<string>ycircumflex.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z1</key>
		<string>z1.glif</string>
		<key>z1ch1</key>
		<string>z1ch1.glif</string>
		<key>z1ch1u1</key>
		<string>z1ch1u1.glif</string>
		<key>z1ch1u2</key>
		<string>z1ch1u2.glif</string>
		<key>z1l3</key>
		<string>z1l3.glif</string>
		<key>z1l3u1</key>
		<string>z1l3u1.glif</string>
		<key>z1l3u2</key>
		<string>z1l3u2.glif</string>
		<key>z1m1</key>
		<string>z1m1.glif</string>
		<key>z1n1</key>
		<string>z1n1.glif</string>
		<key>z1n1u1</key>
		<string>z1n1u1.glif</string>
		<key>z1n1u2</key>
		<string>z1n1u2.glif</string>
		<key>z1r1</key>
		<string>z1r1.glif</string>
		<key>z1r3</key>
		<string>z1r3.glif</string>
		<key>z1r3u1</key>
		<string>z1r3u1.glif</string>
		<key>z1r3u2</key>
		<string>z1r3u2.glif</string>
		<key>z1u1</key>
		<string>z1u1.glif</string>
		<key>z1u2</key>
		<string>z1u2.glif</string>
		<key>z1xx</key>
		<string>z1xx.glif</string>
		<key>z1z1</key>
		<string>z1z1.glif</string>
		<key>z1z1u1</key>
		<string>z1z1u1.glif</string>
		<key>z1z1u2</key>
		<string>z1z1u2.glif</string>
		<key>zacute</key>
		<string>zacute.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotaccent</key>
		<string>zdotaccent.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zh</key>
		<string>zh.glif</string>
		<key>zh1ch1</key>
		<string>zh1ch1.glif</string>
		<key>zhcil</key>
		<string>zhcil.glif</string>
		<key>zhu1</key>
		<string>zhu1.glif</string>
		<key>zhu2</key>
		<string>zhu2.glif</string>
		<key>zhxx</key>
		<string>zhxx.glif</string>
	</dict>
</plist>
