<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>.null</string>
			<string>nonmarkingreturn</string>
			<string>space</string>
			<string>exclam</string>
			<string>quotedbl</string>
			<string>numbersign</string>
			<string>dollar</string>
			<string>percent</string>
			<string>ampersand</string>
			<string>quotesingle</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>asterisk</string>
			<string>plus</string>
			<string>comma</string>
			<string>hyphen</string>
			<string>period</string>
			<string>slash</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>less</string>
			<string>equal</string>
			<string>greater</string>
			<string>question</string>
			<string>at</string>
			<string>braceleft</string>
			<string>bar</string>
			<string>braceright</string>
			<string>asciitilde</string>
			<string>uni00AD</string>
			<string>anuswara</string>
			<string>anuswaraabove</string>
			<string>verticalbarvirama</string>
			<string>circularvirama</string>
			<string>visarga</string>
			<string>vedicanuswara</string>
			<string>ml_a</string>
			<string>ml_aa</string>
			<string>ml_i</string>
			<string>ml_ii</string>
			<string>ml_u</string>
			<string>ml_uu</string>
			<string>ml_r</string>
			<string>ml_l</string>
			<string>ml_e</string>
			<string>ml_ee</string>
			<string>ml_ai</string>
			<string>ml_o</string>
			<string>ml_oo</string>
			<string>ml_au</string>
			<string>k1</string>
			<string>k2</string>
			<string>k3</string>
			<string>k4</string>
			<string>ng</string>
			<string>ch1</string>
			<string>ch2</string>
			<string>ch3</string>
			<string>ch4</string>
			<string>nj</string>
			<string>t1</string>
			<string>t2</string>
			<string>t3</string>
			<string>t4</string>
			<string>nh</string>
			<string>th1</string>
			<string>th2</string>
			<string>th3</string>
			<string>th4</string>
			<string>n1</string>
			<string>p1</string>
			<string>p2</string>
			<string>p3</string>
			<string>p4</string>
			<string>m1</string>
			<string>y1</string>
			<string>r3</string>
			<string>rh</string>
			<string>l3</string>
			<string>lh</string>
			<string>zh</string>
			<string>v1</string>
			<string>z1</string>
			<string>sh</string>
			<string>s1</string>
			<string>h1</string>
			<string>avagraha</string>
			<string>a2</string>
			<string>i1</string>
			<string>i2</string>
			<string>u1</string>
			<string>u2</string>
			<string>r1</string>
			<string>e1</string>
			<string>e2</string>
			<string>ai1</string>
			<string>o1</string>
			<string>o2</string>
			<string>uni0D4C</string>
			<string>xx</string>
			<string>dotreph</string>
			<string>au2</string>
			<string>datemark</string>
			<string>ZWNJ</string>
			<string>ZWJ</string>
			<string>rupee</string>
			<string>euro</string>
			<string>uni25CC</string>
			<string>r4</string>
			<string>y2</string>
			<string>y2u1</string>
			<string>y2u2</string>
			<string>v2</string>
			<string>k1cil</string>
			<string>nhcil</string>
			<string>n1cil</string>
			<string>l3cil</string>
			<string>lhcil</string>
			<string>r3cil</string>
			<string>k1u1</string>
			<string>k1u2</string>
			<string>k1r1</string>
			<string>k1l1</string>
			<string>k1k1</string>
			<string>k1k1u1</string>
			<string>k1k1u2</string>
			<string>k1k1r1</string>
			<string>k1k1r3</string>
			<string>k1k1r3u1</string>
			<string>k1k1r3u2</string>
			<string>k1nh</string>
			<string>k1nhu1</string>
			<string>k1nhu2</string>
			<string>k1th1</string>
			<string>k1th1u1</string>
			<string>k1th1u2</string>
			<string>k1th1r1</string>
			<string>k1t1</string>
			<string>k1t1r3</string>
			<string>k1r3</string>
			<string>k1r3u1</string>
			<string>k1r3u2</string>
			<string>k1l3</string>
			<string>k1l3u1</string>
			<string>k1l3u2</string>
			<string>k1sh</string>
			<string>k1shu1</string>
			<string>k1shu2</string>
			<string>k2u1</string>
			<string>k2u2</string>
			<string>k2r1</string>
			<string>k3u1</string>
			<string>k3u2</string>
			<string>k3r1</string>
			<string>k3k3</string>
			<string>k3k3u1</string>
			<string>k3k3u2</string>
			<string>k3k3r1</string>
			<string>k3th3</string>
			<string>k3th3u1</string>
			<string>k3th3u2</string>
			<string>k3th3r1</string>
			<string>k3th3th4</string>
			<string>k3th3th4u1</string>
			<string>k3th3th4u2</string>
			<string>k3n1</string>
			<string>k3n1u1</string>
			<string>k3n1u2</string>
			<string>k3m1</string>
			<string>k3m1u1</string>
			<string>k3m1u2</string>
			<string>k3r3</string>
			<string>k3r3u1</string>
			<string>k3r3u2</string>
			<string>k3l3</string>
			<string>k3l3u1</string>
			<string>k3l3u2</string>
			<string>k4u1</string>
			<string>k4u2</string>
			<string>k4r1</string>
			<string>k4r3</string>
			<string>k4r3u1</string>
			<string>k4r3u2</string>
			<string>ngu1</string>
			<string>ngu2</string>
			<string>ngk1</string>
			<string>ngk1u1</string>
			<string>ngk1u2</string>
			<string>ngk1r1</string>
			<string>ngng</string>
			<string>ngngu1</string>
			<string>ngngu2</string>
			<string>ch1u1</string>
			<string>ch1u2</string>
			<string>ch1ch1</string>
			<string>ch1ch1u1</string>
			<string>ch1ch1u2</string>
			<string>ch1ch2</string>
			<string>ch2u1</string>
			<string>ch2u2</string>
			<string>ch2r1</string>
			<string>ch3u1</string>
			<string>ch3u2</string>
			<string>ch3r1</string>
			<string>ch3ch3</string>
			<string>ch3ch3u1</string>
			<string>ch3ch3u2</string>
			<string>ch3ch3r1</string>
			<string>ch3nj</string>
			<string>ch3r3</string>
			<string>ch3r3u1</string>
			<string>ch3r3u2</string>
			<string>ch4u1</string>
			<string>ch4u2</string>
			<string>nju1</string>
			<string>nju2</string>
			<string>njch1</string>
			<string>njch1u1</string>
			<string>njch1u2</string>
			<string>njch1r1</string>
			<string>njch3</string>
			<string>njch3u1</string>
			<string>njch3u2</string>
			<string>njnj</string>
			<string>njnju1</string>
			<string>njnju2</string>
			<string>t1u1</string>
			<string>t1u2</string>
			<string>t1r1</string>
			<string>t1t1</string>
			<string>t1t1u1</string>
			<string>t1t1u2</string>
			<string>t1r3</string>
			<string>t1r3u1</string>
			<string>t1r3u2</string>
			<string>t2u1</string>
			<string>t2u2</string>
			<string>t3u1</string>
			<string>t3u2</string>
			<string>t3r1</string>
			<string>t3t3</string>
			<string>t3t3u1</string>
			<string>t3t3u2</string>
			<string>t3t4</string>
			<string>t3t4u1</string>
			<string>t3t4u2</string>
			<string>t3r3</string>
			<string>t3r3u1</string>
			<string>t3r3u2</string>
			<string>t4u1</string>
			<string>t4u2</string>
			<string>t4r1</string>
			<string>nhu1</string>
			<string>nhu2</string>
			<string>nht1</string>
			<string>nht1u1</string>
			<string>nht1u2</string>
			<string>nht2</string>
			<string>nht3</string>
			<string>nht3u1</string>
			<string>nht3u2</string>
			<string>nhnh</string>
			<string>nhnhu1</string>
			<string>nhnhu2</string>
			<string>nhm1</string>
			<string>nhm1u1</string>
			<string>nhm1u2</string>
			<string>th1u1</string>
			<string>th1u2</string>
			<string>th1r1</string>
			<string>th1th1</string>
			<string>th1th1u1</string>
			<string>th1th1u2</string>
			<string>th1th1r1</string>
			<string>th1th1r3</string>
			<string>th1th1r3u1</string>
			<string>th1th1r3u2</string>
			<string>th1th2</string>
			<string>th1th2u1</string>
			<string>th1th2u2</string>
			<string>th1th2r1</string>
			<string>th1n1</string>
			<string>th1p4</string>
			<string>th1p4u1</string>
			<string>th1p4u2</string>
			<string>th1m1</string>
			<string>th1m1u1</string>
			<string>th1m1u2</string>
			<string>th1m1r1</string>
			<string>th1r3</string>
			<string>th1r3u1</string>
			<string>th1r3u2</string>
			<string>th1l3</string>
			<string>th1l3u1</string>
			<string>th1l3u2</string>
			<string>th1s1</string>
			<string>th1s1u1</string>
			<string>th1s1u2</string>
			<string>th1s1r1</string>
			<string>th2u1</string>
			<string>th2u2</string>
			<string>th3u1</string>
			<string>th3u2</string>
			<string>th3r1</string>
			<string>th3th3</string>
			<string>th3th3u1</string>
			<string>th3th3u2</string>
			<string>th3th4</string>
			<string>th3th4u1</string>
			<string>th3th4u2</string>
			<string>th3r3</string>
			<string>th3r3u1</string>
			<string>th3r3u2</string>
			<string>th4u1</string>
			<string>th4u2</string>
			<string>th4r1</string>
			<string>th4r3</string>
			<string>th4r3u1</string>
			<string>th4r3u2</string>
			<string>n1u1</string>
			<string>n1u2</string>
			<string>n1r1</string>
			<string>n1th1</string>
			<string>n1th1u1</string>
			<string>n1th1u2</string>
			<string>n1th1r1</string>
			<string>n1th1r3</string>
			<string>n1th1r3u1</string>
			<string>n1th1r3u2</string>
			<string>n1th2</string>
			<string>n1th2u1</string>
			<string>n1th2u2</string>
			<string>n1th2r1</string>
			<string>n1th3</string>
			<string>n1th3u1</string>
			<string>n1th3u2</string>
			<string>n1th3r1</string>
			<string>n1th3r3</string>
			<string>n1th3r3u1</string>
			<string>n1th3r3u2</string>
			<string>n1th4</string>
			<string>n1th4u1</string>
			<string>n1th4u2</string>
			<string>n1th4r3</string>
			<string>n1th4r3u1</string>
			<string>n1th4r3u2</string>
			<string>n1n1</string>
			<string>n1n1u1</string>
			<string>n1n1u2</string>
			<string>n1n1r1</string>
			<string>n1n1r3</string>
			<string>n1n1r3u1</string>
			<string>n1n1r3u2</string>
			<string>n1m1</string>
			<string>n1m1u1</string>
			<string>n1m1u2</string>
			<string>n1m1r1</string>
			<string>n1rh</string>
			<string>n1rhu1</string>
			<string>n1rhu2</string>
			<string>n1cilxxrh</string>
			<string>n1cilxxrhu1</string>
			<string>n1cilxxrhu2</string>
			<string>p1u1</string>
			<string>p1u2</string>
			<string>p1r1</string>
			<string>p1th1</string>
			<string>p1n1</string>
			<string>p1n1u1</string>
			<string>p1n1u2</string>
			<string>p1t1</string>
			<string>p1p1</string>
			<string>p1p1u1</string>
			<string>p1p1u2</string>
			<string>p1p1r1</string>
			<string>p1p2</string>
			<string>p1r3</string>
			<string>p1r3u1</string>
			<string>p1r3u2</string>
			<string>p1l3</string>
			<string>p1l3u1</string>
			<string>p1l3u2</string>
			<string>p2u1</string>
			<string>p2u2</string>
			<string>p2r3</string>
			<string>p2r3u1</string>
			<string>p2r3u2</string>
			<string>p2l3</string>
			<string>p2l3u1</string>
			<string>p2l3u2</string>
			<string>p3u1</string>
			<string>p3u2</string>
			<string>p3r1</string>
			<string>p3p3</string>
			<string>p3p3u1</string>
			<string>p3p3u2</string>
			<string>p3r3</string>
			<string>p3r3u1</string>
			<string>p3r3u2</string>
			<string>p3l3</string>
			<string>p3l3u1</string>
			<string>p3l3u2</string>
			<string>p4u1</string>
			<string>p4u2</string>
			<string>p4r1</string>
			<string>p4r3</string>
			<string>p4r3u1</string>
			<string>p4r3u2</string>
			<string>m1u1</string>
			<string>m1u2</string>
			<string>m1r1</string>
			<string>m1p1</string>
			<string>m1p1u1</string>
			<string>m1p1u2</string>
			<string>m1p1r1</string>
			<string>m1p1r3</string>
			<string>m1p1r3u1</string>
			<string>m1p1r3u2</string>
			<string>m1m1</string>
			<string>m1m1u1</string>
			<string>m1m1u2</string>
			<string>m1r3</string>
			<string>m1r3u1</string>
			<string>m1r3u2</string>
			<string>m1l3</string>
			<string>y1u1</string>
			<string>y1u2</string>
			<string>y1y1</string>
			<string>y1y1u1</string>
			<string>y1y1u2</string>
			<string>r3u1</string>
			<string>r3u2</string>
			<string>l3u1</string>
			<string>l3u2</string>
			<string>l3p1</string>
			<string>l3p1u1</string>
			<string>l3p1u2</string>
			<string>l3l3</string>
			<string>l3l3u1</string>
			<string>l3l3u2</string>
			<string>v1u1</string>
			<string>v1u2</string>
			<string>v1r1</string>
			<string>v1r3</string>
			<string>v1r3u1</string>
			<string>v1r3u2</string>
			<string>v1l3</string>
			<string>v1l3u1</string>
			<string>v1l3u2</string>
			<string>v1v1</string>
			<string>v1v1u1</string>
			<string>v1v1u2</string>
			<string>z1u1</string>
			<string>z1u2</string>
			<string>z1r1</string>
			<string>z1ch1</string>
			<string>z1ch1u1</string>
			<string>z1ch1u2</string>
			<string>z1n1</string>
			<string>z1n1u1</string>
			<string>z1n1u2</string>
			<string>z1r3</string>
			<string>z1r3u1</string>
			<string>z1r3u2</string>
			<string>z1l3</string>
			<string>z1l3u1</string>
			<string>z1l3u2</string>
			<string>z1z1</string>
			<string>z1z1u1</string>
			<string>z1z1u2</string>
			<string>shu1</string>
			<string>shu2</string>
			<string>shr1</string>
			<string>sht1</string>
			<string>sht1u1</string>
			<string>sht1u2</string>
			<string>sht1r3</string>
			<string>sht2</string>
			<string>sht2u1</string>
			<string>sht2u2</string>
			<string>shnh</string>
			<string>shnhu1</string>
			<string>shnhu2</string>
			<string>s1u1</string>
			<string>s1u2</string>
			<string>s1r1</string>
			<string>s1th1</string>
			<string>s1th1r3</string>
			<string>s1th2</string>
			<string>s1th2u1</string>
			<string>s1th2u2</string>
			<string>s1th2r1</string>
			<string>s1r3</string>
			<string>s1r3u1</string>
			<string>s1r3u2</string>
			<string>s1l3</string>
			<string>s1l3u1</string>
			<string>s1l3u2</string>
			<string>s1s1</string>
			<string>s1s1u1</string>
			<string>s1s1u2</string>
			<string>s1rhrh</string>
			<string>s1rhrhu1</string>
			<string>s1rhrhu2</string>
			<string>h1u1</string>
			<string>h1u2</string>
			<string>h1r1</string>
			<string>h1n1</string>
			<string>h1n1u1</string>
			<string>h1n1u2</string>
			<string>h1m1</string>
			<string>h1m1u1</string>
			<string>h1m1u2</string>
			<string>h1m1r1</string>
			<string>h1r3</string>
			<string>h1r3u1</string>
			<string>h1r3u2</string>
			<string>h1l3</string>
			<string>lhu1</string>
			<string>lhu2</string>
			<string>lhlh</string>
			<string>lhlhu1</string>
			<string>lhlhu2</string>
			<string>zhu1</string>
			<string>zhu2</string>
			<string>rhu1</string>
			<string>rhu2</string>
			<string>rhrh</string>
			<string>rhrhu1</string>
			<string>rhrhu2</string>
			<string>l4</string>
			<string>rh_half</string>
			<string>n2</string>
			<string>l1</string>
			<string>r2</string>
			<string>u_sign_drop</string>
			<string>uu_sign_drop</string>
			<string>va_sign</string>
			<string>th2_half</string>
			<string>vocalic_r_sign_drop</string>
			<string>ml_rr</string>
			<string>ml_ll</string>
			<string>k1xx</string>
			<string>k2xx</string>
			<string>k3xx</string>
			<string>k4xx</string>
			<string>ngxx</string>
			<string>ch1xx</string>
			<string>ch2xx</string>
			<string>ch3xx</string>
			<string>ch4xx</string>
			<string>njxx</string>
			<string>t1xx</string>
			<string>t2xx</string>
			<string>t3xx</string>
			<string>t4xx</string>
			<string>nhxx</string>
			<string>th1xx</string>
			<string>th2xx</string>
			<string>th3xx</string>
			<string>th4xx</string>
			<string>n1xx</string>
			<string>p1xx</string>
			<string>p2xx</string>
			<string>p3xx</string>
			<string>p4xx</string>
			<string>m1xx</string>
			<string>y1xx</string>
			<string>r3xx</string>
			<string>rhxx</string>
			<string>l3xx</string>
			<string>lhxx</string>
			<string>zhxx</string>
			<string>v1xx</string>
			<string>z1xx</string>
			<string>shxx</string>
			<string>s1xx</string>
			<string>h1xx</string>
			<string>zh1ch1</string>
			<string>s1n1</string>
			<string>k1s1</string>
			<string>p1s1</string>
			<string>p3th3</string>
			<string>s1p1</string>
			<string>sh1p1</string>
			<string>th2r1</string>
			<string>z1m1</string>
			<string>shm1</string>
			<string>s1m1</string>
			<string>y1k1</string>
			<string>s1k1</string>
			<string>k1th1r3</string>
			<string>_m1</string>
			<string>_rh</string>
			<string>_th1</string>
			<string>_t1</string>
			<string>_s1</string>
			<string>_n1</string>
			<string>_nh</string>
			<string>_nhu1</string>
			<string>_nhu2</string>
			<string>_k1</string>
			<string>nht1r3</string>
			<string>nht1r3u1</string>
			<string>nht1r3u2</string>
			<string>uni0D66</string>
			<string>y1cil</string>
			<string>mlchandrabindu</string>
			<string>mlpara</string>
			<string>m1cil</string>
			<string>zhcil</string>
			<string>arakani</string>
			<string>aramaa</string>
			<string>muunnukaani</string>
			<string>orumaa</string>
			<string>ml_ii_archaic</string>
			<string>uni0D73</string>
			<string>uni0D74</string>
			<string>uni0D75</string>
			<string>uni0D70</string>
			<string>l2</string>
			<string>uni0D71</string>
			<string>uni0D72</string>
			<string>randumaa</string>
			<string>munnumaa</string>
			<string>naalumaa</string>
			<string>maakaani</string>
			<string>arakkaal</string>
			<string>muntaani</string>
			<string>rhrhr3</string>
			<string>uni0D67</string>
			<string>uni0D68</string>
			<string>uni0D69</string>
			<string>uni0D6A</string>
			<string>uni0D6B</string>
			<string>uni0D6C</string>
			<string>uni0D6D</string>
			<string>uni0D6E</string>
			<string>uni0D6F</string>
			<string>ch1ch1.alt1</string>
			<string>ch1ch1u1.alt1</string>
			<string>ch1ch1u2.alt1</string>
			<string>lhlh.alt1</string>
			<string>lhlhu1.alt1</string>
			<string>lhlhu2.alt1</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>Aacute</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>Acircumflex</string>
			<string>acute</string>
			<string>Adieresis</string>
			<string>adieresis</string>
			<string>ae</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>aeacute</string>
			<string>agrave</string>
			<string>Agrave</string>
			<string>amacron</string>
			<string>Amacron</string>
			<string>Aring</string>
			<string>aring</string>
			<string>asciicircum</string>
			<string>Atilde</string>
			<string>atilde</string>
			<string>backslash</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>bullet</string>
			<string>cacute</string>
			<string>Cacute</string>
			<string>ccaron</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>ccedilla</string>
			<string>Ccircumflex</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>Cdotaccent</string>
			<string>cedilla</string>
			<string>copyright</string>
			<string>Dcaron</string>
			<string>degree</string>
			<string>dieresis</string>
			<string>divide</string>
			<string>dotlessi</string>
			<string>Eacute</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>Egrave</string>
			<string>emacron</string>
			<string>Emacron</string>
			<string>emdash</string>
			<string>endash</string>
			<string>eth</string>
			<string>Eth</string>
			<string>Gcircumflex</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>Gdotaccent</string>
			<string>germandbls</string>
			<string>grave</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>hcircumflex</string>
			<string>Hcircumflex</string>
			<string>iacute</string>
			<string>Iacute</string>
			<string>icircumflex</string>
			<string>Icircumflex</string>
			<string>idieresis</string>
			<string>Idieresis</string>
			<string>igrave</string>
			<string>Igrave</string>
			<string>imacron</string>
			<string>Imacron</string>
			<string>itilde</string>
			<string>Itilde</string>
			<string>macron</string>
			<string>multiply</string>
			<string>Nacute</string>
			<string>nacute</string>
			<string>Ncaron</string>
			<string>ncaron</string>
			<string>Ntilde</string>
			<string>ntilde</string>
			<string>Oacute</string>
			<string>oacute</string>
			<string>ocaron</string>
			<string>Ocircumflex</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>Odieresis</string>
			<string>OE</string>
			<string>oe</string>
			<string>ograve</string>
			<string>Ograve</string>
			<string>omacron</string>
			<string>Omacron</string>
			<string>oslash</string>
			<string>Oslash</string>
			<string>otilde</string>
			<string>Otilde</string>
			<string>paragraph</string>
			<string>questiondown</string>
			<string>racute</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>rcaron</string>
			<string>registered</string>
			<string>sacute</string>
			<string>Sacute</string>
			<string>scaron</string>
			<string>Scaron</string>
			<string>scedilla</string>
			<string>Scedilla</string>
			<string>scircumflex</string>
			<string>Scircumflex</string>
			<string>thorn</string>
			<string>Thorn</string>
			<string>Uacute</string>
			<string>uacute</string>
			<string>Ucaron</string>
			<string>ucaron</string>
			<string>Ucircumflex</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>Udieresis</string>
			<string>ugrave</string>
			<string>Ugrave</string>
			<string>umacron</string>
			<string>Umacron</string>
			<string>underscore</string>
			<string>Uring</string>
			<string>uring</string>
			<string>Utilde</string>
			<string>utilde</string>
			<string>Wcircumflex</string>
			<string>wcircumflex</string>
			<string>Yacute</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>Ycircumflex</string>
			<string>ydieresis</string>
			<string>zacute</string>
			<string>Zacute</string>
			<string>zcaron</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>zdotaccent</string>
			<string>quotesinglbase</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quotedblbase</string>
			<string>ellipsis</string>
			<string>uni00A0</string>
			<string>uni00B9</string>
			<string>uni00B2</string>
			<string>uni00B3</string>
			<string>caron</string>
			<string>zero.slash</string>
			<string>zero.tnum</string>
			<string>one.tnum</string>
			<string>two.tnum</string>
			<string>three.tnum</string>
			<string>four.tnum</string>
			<string>five.tnum</string>
			<string>six.tnum</string>
			<string>seven.tnum</string>
			<string>eight.tnum</string>
			<string>nine.tnum</string>
			<string>exclamdown</string>
			<string>cent</string>
			<string>currency</string>
			<string>yen</string>
			<string>brokenbar</string>
			<string>plusminus</string>
			<string>periodcentered</string>
			<string>minus</string>
			<string>divisionslash</string>
			<string>logicalnot</string>
			<string>circumflex</string>
			<string>ring</string>
			<string>tilde</string>
			<string>uni2039</string>
			<string>uni203A</string>
			<string>fraction</string>
			<string>pound</string>
			<string>uni2074</string>
			<string>uni00AA</string>
			<string>uni00BA</string>
			<string>uni00B5</string>
			<string>section</string>
			<string>uni00BC</string>
			<string>uni00BD</string>
			<string>uni00BE</string>
		</array>
	</dict>
</plist>
